<div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 gap-4 my-4">
    <% 10.times do %>
        <div class="col-span-1 rounded-xl bg-white shadow-sm">
            <div class="animate-pulse">
                <div class="rounded-t-xl bg-zinc-300 aspect-16/7"></div>
                <div class="grid grid-cols-4 p-2">
                    <div class="col-span-4 h-5 mb-3 bg-zinc-300"></div>
                    <div class="col-span-1 h-3 bg-zinc-300"></div>
                    <div class="col-span-3 h-3 mb-2"></div>
                    <div class="col-span-2 h-4 bg-zinc-300"></div>
                </div>
            </div>
        </div>
    <% end %>
</div>
