<%= link_to search_index_path(tag_name: tag.name), class: "flex justify-start mr-2" do %>
    <div class="flex justify-start items-center rounded-full border border-zinc-300 bg-white px-[2px] py-[2px]">
        <div class="flex justify-center items-center size-4 rounded-full bg-zinc-700">
            <p class="text-white text-xs">#</p>
        </div>
        <p class="mx-1 text-xs"><%= tag.name %></p>
    </div>
<% end %>
