<div class="p-4">
    <div class="mb-4">
        <h1 class="text-2xl text-zinc-700 font-bold">ショートカット一覧</h1>
        <p class="text-md text-teal-700 font-sans font-bold">Shortcuts</p>
    </div>
    <div class="py-4">
        <%= link_to "新着", shortcuts_path, class: "mr-2 px-4 py-2 text-white bg-teal-700 rounded-full font-bold" %>
        <%= link_to "人気ランキング", root_path, class: "px-4 py-2 text-zinc-500 font-bold rounded-full hover:bg-zinc-100" %>
    </div>
    <%= turbo_frame_tag :shortcut_index_lazy, src: "shortcut/index_lazy", loading: :lazy do %>
        <% render "shortcut_loading" %>
    <% end %>
</div>
