<div class="p-4">
    <div class="bg-white rounded-xl p-4">
        <h1 class="text-3xl text-teal-700 font-bold">404 Not Found</h1>
        <p>お探しのページが見つかりませんでした。</p>
        <div class="w-full flex flex-col items-center">
            <%= image_tag "notFound.png", class: "w-full max-w-md" %>
            <%= link_to "ホームに戻る", root_path, class: "btn btn-accent rounded-full text-white my-5" %>
        </div>
    </div>
</div>
