<%= turbo_frame_tag :home_index_lazy, src: "home/index_lazy", loading: :lazy do %>
    <div class="h-screen flex justify-center items-center">
        <div class="flex flex-col items-center justify-center bg-white rounded-xl p-8 pb-4">
            <div class="loading loading-spinner loading-xl scale-200"></div>
            <p class="mt-8">loading...</p>
        </div>
    </div>
<% end %>
