<%= search_form_for q, url: url, data: { controller: "autocomplete", autocomplete_target: "form" } do |f| %>
    <div class="w-full flex items-start">
        <div class="grow">
            <%= f.search_field :title_or_description_cont, class: "w-full rounded-s-full bg-white outline-none border border-zinc-300 focus:border-teal-500 text-base p-2 pl-4", placeholder: "キーワードを入力", data: { action: "input->autocomplete#search", autocomplete_target: "input" } %>
            <ul data-autocomplete-target="results" class="w-full bg-white rounded-b-xl overflow-hidden"></ul>
        </div>
        <%= f.submit "検索", class: "flex-none rounded-e-full bg-teal-500 border border-teal-500 font-bold text-white px-4 py-2" %>
    </div>
<% end %>
