<%= turbo_frame_tag :follow_index_lazy do %>
    <% if @shortcuts.present? %>
        <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 gap-4 my-4">
            <%= render partial: "shortcuts/shortcut", collection: @shortcuts %>
        </div>
    <% else %>
        <p>フォローしているユーザーはいません</p>
    <% end %>
<% end %>
