<div><%= @user.email %>様</div>
<div>Shortcut Hub をご利用いただきありがとうございます。</div>
<% if @user.confirmed_at != nil %>
    <div>会員登録が完了済みです。</div>
    <div>下記リンクからログインをお願いいたします。</div>
    <p>http://localhost:3000/</p>
<% else %>
    <div>以下のリンクをクリックするとメールアドレスの認証が完了します</div>
    <div><%= link_to "メールアドレスを認証する", confirmation_url(@user,confirmation_token: @token) %></div>
    <div>※このURLの有効期限は6時間です。</div>
<% end %>
