<p><%= @resource.name %> 様</p>
<p>いつもShortcut Hub（ショートカットハブ）をご利用いただきありがとうございます。</p>
<p>下記リンクからパスワードを再設定することができます。</p>
<p>※パスワードの再設定に心当たりがない方は対応不要です。</p>
<p><%= link_to "パスワードを変更する場合はこちらをクリック", edit_password_url(@resource, reset_password_token: @token) %></p>
<p>※リンクの有効期限は1時間です。</p>
